*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
.navbar{
    height: 8vh;
    width: 100%;
    background-color: #171515;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
  }
  
a{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
  }

body{
    background-color: #ffffff;
}
.container{
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}
.container .info{
    margin-top: 10px;
}
.container .info h1{
    font-family: 'asap condensed';
    font-size: 32px;
    background: #f0f0f0;
    color: #202020;
}
.container .info h2{
    margin-top: 40px;
    float: left;
}
.container .info h3{
    font-size: 22px;
    margin-top: 25px;
    float: left;

}
.container .info img{
    float: left;
    margin-top: 25px;
    width: 920px;
    height: 500px;
}
.container .info p{
    text-align: left;
    margin-top: 5px;
    float: left;
}