*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body{
    background-image: url(/images/anasayfa2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .navbar{
    height: 8vh;
    width: 100%;
    background-color: #171515;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  
  a{
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
  }

  .başlık{
    text-align: center;
    margin-top: 18%;
    font-size: 100px;
    color: #e3e3e3;

  }
  